body {background-color: black;

}
#gameField {
  position: relative;
  width: 700px;
  height: 500px;
  margin: solid 5px;
  background-color: rgb(171, 208, 208);
}


img {
  position: absolute;
  width: 80px;
}

.fly {
position: absolute;

}

.cake {
  position: absolute;
  
  width: 100px;
  height: 70px;
  background-color: brown;
  bottom: 0;
  left: 300px;
}


.duck.shot {
  background-position: center;
  background-image: url(images/shot.png);
}
