body {background-color: black;

}
#gameField {
  width: 600px;
  height: 500px;
  margin: solid 5px;
  background-color: rgb(171, 208, 208);
  background-size: cover;
  background-position: center;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
  overflow: hidden;
}


img {
  position: absolute
;
  width: 80px;
}
.cake {
  position: absolute;
  
  width: 100px;
  height: 70px;
  background-color: brown;
  bottom: 0;
  left: 270px;
}


.duck.shot {
  background-position: center;
  background-image: url(images/shot.png);
}
