body {background-color: black;

}
#gameField {
  position: relative;
  width: 700px;
  height: 500px;
  margin: solid 5px;
  background-color: rgb(171, 208, 208);
}

img {
  position: absolute;
  width: 90px;
}

.fly {
position: absolute;
}

.cake {
  position: absolute;
  width: 100px;
  height: 90px;
 
  bottom: 0;
  left: 300px;
}


button {
display: block;
}
